__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
.venv
venv/
ENV/
env/
*.log
*.pot
*.egg
*.egg-info/
dist/
build/
.eggs/
*.so
.mypy_cache/
.pytest_cache/
.cache/
.coverage
*.cover
*.DS_Store
.idea/
.vscode/

